<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>Full Friends</title>
</head>
<body>
    <div id="wrapper">
        <h1>Friends:</h1>
        <div id="friends">
            <div class="col" id="name_col">
                <h3>Name</h3>
                <div class="col_entries">
                    {{ data["full_name"]|safe }}
                </div>
            </div>
            <div class="col" id="name_col">
                <h3>Age</h3>
                <div class="col_entries">
                    {{ data["age"]|safe }}
                </div>
            </div>
            <div class="col" id="name_col">
                <h3>Friends Since</h3>
                <div class="col_entries">
                    {{ data["friend_since"]|safe }}
                </div>
            </div>
        </div>

        <h2>Add a Friend:</h2>
        <form action="/create_friend" method = "POST">
            <div>
                <label for="full_name">Full Name:</label>
                <input id="full_name" name="full_name" type="text">
            </div>
            <div>
                <label for="age">Age:</label>
                <input id="age" name="age" type="text">
            </div>
            <input id="submitButton" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>